<div class="card articleDiv">
    <div class="card-header">
        <p class="card-title" data-id="{{this._id}}">
            {{title}}
        </p>
    </div>

    <div class="card-block">
        <p class="card-text" data-id="{{this._id}}">
            {{link}}
        </p>
    </div>

    <button class="delete-button btn btn-danger" data-id="{{this._id}}">
        DELETE!
    </button>
</div>